.formContainer{
  position: absolute;
  bottom: 18%;
  top: 26.5%;
  margin: 8.2vh 6% 0 6%;
  display: flex;
  justify-content: center;
  width: 86%;
  height: 49.5vh;
  color: rgb(157,155,157);
}
form{
  max-height: 97%;
}
label{
  font-size: 1.8vh;
}
input, textarea{
  width: 100%;
  background: rgb(236,234,236);
  border-radius: 7px;
  font-size: 1.8vh;
  border: rgb(245,244,244);
  margin-top: 3px;
  margin-bottom: 4px;
  color: rgb(157,155,157);
  padding-left: 10px;
  font-family: 'Merriweather', serif;
}
input{
  height: 11.4%;
  max-height: 6vh;
}
textarea{
  height: 30%;
  max-height: 16vh;
  resize: none;
  padding-top: 10px;
}
.submitButton{
  position: absolute;
  right: 0;
  width: 45%;
  height: 16%;
  max-height: 69px;
  max-width: 190px;
  margin-top: 1.5%;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px){
  .submitButton{
    right: 10%;
  }
}
@media screen and (min-width: 1200px){
  .submitButton{
    right: 20%;
  }
}
