html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}
.navCont{
  width: 100%;
  height: 6.8vh;
  background: rgb(55,53,55);
  color: rgb(216,214,216);
}
.nav{
  display: flex;
  width: 56.5%;
  max-width: 760px;
  height: 100%;
  justify-content: space-between;
}
.hamburger{
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  width: 10%;
  max-width: 40px;
  height: 45%;
}
.profileText{
  font-size: 2.7vh;
  margin-top: 1.5vh;
}
.header{
  display: flex;
  width: 100%;
  height: 20vh;
  box-shadow: 0 1.5px 12px dimgray;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}
.background{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.profilePic{
  height: 130%;
  position: absolute;
  top: 19%;
}
.formContainer{
  margin: 9vh 6% 0 6%;
  display: flex;
  justify-content: center;
  width: 86%;
  height: 52vh;
  max-height: 580px;
  color: rgb(157,155,157);
}
label{
  font-size: 2.0vh;
}
input, textarea{
  width: 100%;
  height: 10%;
  background: rgb(236,234,236);
  border-radius: 7px;
  font-size: 2.0vh;
  border: rgb(245,244,244);
  margin-top: 1%;
  margin-bottom: 1%;
  color: rgb(157,155,157);
  padding-left: 10px;
}
textarea{
  height: 30%;
  resize: none;
  padding-top: 10px;
}
.submitContainer{
  display: flex;
  justify-content: center;
  width: 86%;
  margin-right: 6%;
  margin-left: 6%;
}
.submitButton{
  width: 20vh;
  height: 10%;
  margin-top: 1%;
  margin-left: 65%;
  margin-bottom: 10px;
}
.footer{
  background: rgb(236,234,236);
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
}
