html, body {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Merriweather Sans', sans-serif;
}
.navCont{
  width: 100%;
  height: 6.5vh;
  background: rgb(55,53,55);
  color: rgb(216,214,216);
}
.nav{
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.hamburger{
  margin-top: 11px;
  margin-left: 11px;
  width: 27px;
  height: 22px;
}
.profileText{
  font-size: 17px;
  margin-top: 13px;
  letter-spacing: 1px;
}
.header{
  display: flex;
  width: 100%;
  height: 168px;
  box-shadow: 0 3px 15px #888888;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}
.background{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.profilePic{
  width: 215px;
  position: absolute;
  top: 17%;
}
